* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  font-family: poppins;
  font-size: 0.9rem;
  color: white;
}
body {
  background-image: url("../images/employees.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
}
.container {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  box-shadow: 0 35px 50px #0a1516c9;
  min-width: 25rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7baa657;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.container form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
form input {
  background-color: transparent;
  border: none;
}
form div {
  display: flex;
  width: 100%;
}
form .top input {
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}
form .top #signin {
  border-bottom: 3px solid #ff8317;
}
form .middle {
  flex-direction: column;
}
form .middle input {
  width: 100%;
  padding-top: 20px;
  border-bottom: 2px solid white;
  vertical-align: bottom;
}
form .middle span {
  visibility: hidden;
  font-weight: bold;
  color: white;
}
form .middle input:first-of-type {
  margin-bottom: 10px;
}
form .end {
  justify-content: space-between;
}
form .end input {
  margin-right: 10px;
}
form .end label {
  text-transform: initial;
}
form #submit {
  background-color: #ff8317;
  padding: 15px;
  width: 50%;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
form #submit:hover {
  background-color: #ff8317b2;
}
form input[type="button"] {
  cursor: pointer;
}
input::placeholder {
  color: white;
}
form #remember {
  cursor: pointer;
}
